 /* Horizontal Navbar */

ul{
    list-style-type: none;
    margin:0%;
    padding:0%;
    background-color: #000000;
    overflow: hidden;
    width:100%
}


li {
    float:left;
}
li a {
    display: Block;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
}

.li3 {
    padding-left: 250px;
    /* padding-right: 300px; */
}

li a:hover {
    color: #00ffff;
}

@media screen and  (max-width: 800px){ 

    li a {
        display: Block;
        padding: 5px;
        color: #ffffff;
        text-decoration: none;
    }
    
    .li3 {
        padding-left: 100px;
        /* padding-right: 300px; */
    }
    
    li a:hover {
        color: #00ffff;
    }
    
    
}




@media screen and  (max-width: 1297px){ 

    li a {
        display: Block;
        padding: 5px;
        color: #ffffff;
        text-decoration: none;
    }
    
    .li3 {
        padding-left: 100px;
        /* padding-right: 300px; */
    }
    
    li a:hover {
        color: #00ffff;
    }
    
    
}

@media screen and  (max-width: 1297px){ 

    li a {
        display: Block;
        padding: 5px;
        color: #ffffff;
        text-decoration: none;
    }
    
    .li3 {
        padding-left: 50px;
        /* padding-right: 300px; */
    }
    
    li a:hover {
        color: #00ffff;
    }
    
    
}


@media screen and  (max-width: 456px){ 

    li a {
        display: Block;
        padding: 5px;
        color: #ffffff;
        text-decoration: none;
    }
    
    .li3 {
        padding-left: 50px;
        /* padding-right: 300px; */
    }
    
    li a:hover {
        color: #00ffff;
    }
    
    
}